.first_content{
    height: 400px;
    width: 100%;
    background-color: rgb(77, 51, 66);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}
.local_title_first{
    font-size: 40px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

.local_text_first{
    text-align: center;
    margin: 0 25%;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.second_content{
    height: 150px;
    width: 100%;
    background-color: rgb(16, 201, 195);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
}
.second_content_projects , .second_content_working_hours , .second_content_positive_feedbacks , .second_content_happy_clients{
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: auto;
    height: auto;
}
.projects_icon{
    height: 40px;
    width: 40px;
    display: flex;
    margin: 0 10px 0;
}

.project_numbers{
    margin-top: 0;
    margin-bottom: 3px;
}

.project_numbers , .project_lable{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    margin-top: 10px;
}

.third_content{
    display: flex;
    height: 550px;
    width: 100%;
}

.third_content .left_icon img{
    height: 550px;
    width: 100%;
    object-fit: cover;
}
.left_icon{
    width: 100%;
    width: 50%;
}
.right_aboutme_block{
    display: flex;
    height: 550px;
    width: 50%;
    background-color: rgb(245, 245, 245);
}
.about_me_block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 50px 0;
}

.about_me_block div{
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}

.about_me_title{
    font-size: 40px;
}
.about_me_text{
    font-size: 15px;
}

.four_content{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nead_layout{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nead_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}
.nead_text{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin: 0 20% 35px;
    text-align: center;
}

.nead_button a{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: white;
    background-color: rgb(16, 201, 195);
    padding: 15px 50px;
}
